.note {
  height: 200px;
  min-width: 150px;
  transition: box-shadow 200ms ease-in-out;
  cursor: pointer;
}

.note:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px auto;
  background-color: burlywood;
}
